body {
    background-image: url(https://cdn.discordapp.com/attachments/802204810169286666/1028832690683789332/unknown.png);
    background-size: cover;
}
.aboutme {
    background-image: url(./Assets/discordprofile/aboutme.png);
    position: relative;
    background-size: inherit;
    width: 100000px;
    height: 100px;
}
